@font-face {
  font-family: "Suite_Light";
  src: url(./assets/font/SUITE-Light.ttf);
}

@font-face {
  font-family: "Suite_Medium";
  src: url(./assets/font/SUITE-Medium.ttf);
}

@font-face {
  font-family: "Suite_Regular";
  src: url(./assets/font/SUITE-Regular.ttf);
}

@font-face {
  font-family: "Suite_SemiBold";
  src: url(./assets/font/SUITE-SemiBold.ttf);
}

@font-face {
  font-family: "Suite_Bold";
  src: url(./assets/font/SUITE-Bold.ttf);
}

@font-face {
  font-family: "Suite_ExtraBold";
  src: url(./assets/font/SUITE-ExtraBold.ttf);
}

@font-face {
  font-family: "Suite_Heavy";
  src: url(./assets/font/SUITE-Heavy.ttf);
}








body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Suite_Medium", "Suite_Light", "Suite_Regular", "Suite_SemiBold", "Suite_Bold",  "Suite_ExtraBold", "Suite_Heavy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, button, span, input{
  font-family:  "Suite_Medium", "Suite_Light", "Suite_Regular", "Suite_SemiBold", "Suite_Bold",  "Suite_ExtraBold", "Suite_Heavy";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
